body {
  background-color: grey;
  color: white;
}

h1 {
  border-style: inset;
  font-style: Saiva Stencil One
}

img {
  height: 400px;
}

.pic1 {
  position:absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
}

.pic2 {
  position: absolute;
  left:3px;
  top: 5px;
  z-index: -3;
}

@ media screen and (max-width:900) {
  img {
    height: 200px;
  }
}
