body {
  background-color: grey;
  color: white;
}

h1 {
  border-style: inset;
  font-style: Saiva Stencil One
}

img {
  height: 400px;
}

.pic1 {
  position:absolute;
  left: 20px;
  top: 20px;
  z-index: -1;
}

.pic2 {
  position: absolute;
  left:30px;
  top: 50px;
  z-index: -3;
}

.pic3 {
  position: absolute;
  left:40px;
  top: 70px;
  z-index: -5;
}

@ media screen and (max-width:900) {
  img {
    height: 200px;
  }
}
