body {
  background-color: grey;
  color: white;
}

h1 {
  border-style: inset;
  font-style: Saiva Stencil One
}

img {
  height: 400px;
}

.pic1 {
  position:absolute;
  left: 50px;
  top: 50px;
  z-index: -1;
}

.pic2 {
  position: absolute;
  left:100px;
  top: 100px;
  z-index: 5;
}

.pic3 {
  position: absolute;
  left:170px;
  top: 170px;
  z-index: -7;
}

.pic4 {
  position: absolute;
  left:230px;
  top: 230px;
  z-index: 9;
}

.pic5 {
  position: absolute;
  left:300px;
  top: 300px;
  z-index: -12;
}

.pic6 {
  position: absolute;
  left:350px;
  top: 350px;
  z-index: 15;
}

@ media screen and (max-width:900) {
  img {
    height: 200px;
  }
}
